body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

nav {
    background-color: #4CAF50;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .logo{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 55%;
}
nav .logo img {
    width: 60px;
    height: 60px;
}

nav h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    background-color: #218838;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.container-pokemon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pokemon {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container2 {
    text-align: center;
}

.tipo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.nombre {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    margin: 10px 0;
}

.descripcion {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.descri {
    margin: 0;
    line-height: 1.5;
}